*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img{
    height: 60px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header{
    background-color: white;
}

body{
    background-color: lightgrey;
}

main {
    background-color: white;
    font-family: "Poppins", sans-serif;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20%;
    border-radius: 5px;
}

.container {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.title{
    font-size: 18px;
}

.add {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px 5px;
}

.add-task {
    background-color: lightskyblue;
}

.line{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: small;
}

.check {
    color: lightgreen;
    border-radius: 50%;
    border: 1px solid lightgreen;
    font-size: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
}

.check.cross{
    border-color: red;
    color: red;
}

.check, .tag{
    display: inline-block;
}

.line span{
    margin-left: 10px;
}

.tag{
    border-radius: 10px;
    text-align: center;
    font-size: xx-small;
    padding: 2px 10px;
    line-height: 15px;
}

.editorial, .sales {
    background-color: lightblue;
}

.q1-goals{
    background-color: purple;
}

.recruiting{
    background-color: green;
}

.mobile{
    background-color: orange;
}

.website{
    background-color:magenta;
}